@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
  font-family:Inter,sans-serif;
  background:#020617;
  color:white;
  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}

::-webkit-scrollbar{
  width:7px;
}

::-webkit-scrollbar-thumb{
  background:#0891b2;
  border-radius:20px;
}

::-webkit-scrollbar-track{
  background:#020617;
}

::selection{
  background:#06b6d4;
  color:white;
}
body{

background:#020617;

background-image:

radial-gradient(circle at top left,#0891b230,transparent 30%),

radial-gradient(circle at bottom right,#7c3aed30,transparent 30%);

}

.glass{

background:rgba(15,23,42,.4);

backdrop-filter:blur(16px);

border:1px solid rgba(255,255,255,.08);

}